.flex-container {
    display: flex;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
}

.flex-container.flex-basis-5em .flex-item {
    flex-basis: 5em;
}

.flex-container.flex-shrink-zero .flex-item {
    flex-shrink: 0;
    max-width: 5em;
}

.flex-container.flex-grow-one .flex-item {
    flex-grow: 1;
    min-width: 5em;
}

.flex-container.flex-basis-5em.flex-container.flex-grow-one {
    width: 900px;
}

.flex-item {
    border: 2px solid #000;
    padding: 20px;
    background: #eee;
}