.flex-container {
    display: flex;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
}

.flex-container.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-container.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-container.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-item {
    border: 2px solid #000;
    padding: 20px;
    background: #eee;
}