.flex-container {
    display: flex;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
    align-items: flex-start;
    width: 300px;
}

.flex-container.flex-shrink-zero .flex-item {
    flex-shrink: 0;
}

.flex-container.flex-shrink-2nd-only .flex-item {
    flex-shrink: 0;
}

.flex-container.flex-shrink-2nd-only .flex-item:nth-child(2) {
    flex-shrink: 1;
}

.flex-item {
    border: 2px solid #000;
    padding: 20px;
    background: #eee;
    flex-basis: 300px;
}