.flex-container {
    display: flex;
    border: 2px solid blue;
    padding: 1em;
    width: 400px;
    flex-wrap: wrap;
}

.flex-container.gap-row {
    gap: 2em 0;
}

.flex-container.gap-column {
    gap: 0 2em;
}

.flex-container.gap {
    gap: 2em;
}

.flex-item {
    border: 2px solid #000;
    padding: 20px;
    background: #eee;
}